@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-0 .mbr-navbar__section {
  background: #2969b0;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#header4-w H1 {
  color: #2969b0;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
#header4-w .btn {
  font-family: 'Open Sans', sans-serif;
}
#header4-w SPAN {
  text-align: left;
}
#header4-w P {
  color: #3d8eb9;
}
#content4-y .mbr-section__col .mbr-header__text {
  text-align: center;
}
#content4-y P {
  text-align: center;
}




#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-1 .mbr-navbar__section {
  background: #2969b0;
}
#menu-1 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-1 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#menu-1 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box4-g .mbr-header__text {
  color: #28324e;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
#msg-box4-g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-g .mbr-article {
  color: #efefef;
}
#msg-box4-h .mbr-header__text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}


#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-2 .mbr-navbar__section {
  background: #2969b0;
}
#menu-2 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-2 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#menu-2 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#gallery1-q SMALL {
  color: #cccccc;
}



#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-3 .mbr-navbar__section {
  background: #2969b0;
}
#menu-3 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-3 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#menu-3 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#features1-c .mbr-section__col .mbr-header__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
#features1-c P {
  color: #000000;
}
#features1-c B {
  color: #b8312f;
}






#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-4 .mbr-navbar__section {
  background: #2969b0;
}
#menu-4 .mbr-navbar__hamburger {
  color: #000000;
}
#menu-4 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#menu-4 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#msg-box4-s .mbr-article P {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
#msg-box4-s .btn {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-s .mbr-article H2 {
  font-size: 12px;
}
